#APP
APP_ENV="production"
APP_NAME="BaseApp"
APP_PORT=3444
APP_LOG_LEVEL="INFO"
APP_BASE_URL="http://localhost:3444"

#JWT
JWT_SECRET="secret@x123"
JWT_REFRESH_SECRET="refresh@x123"

#DB
DB_HOST=localhost
DB_USER=youruser
DB_PASSWORD=yourpassword
DB_NAME=yourdb
DB_PORT=5432
DB_SSLMODE=disable
DB_TIMEZONE=UTC
DB_LOG_LEVEL=SILENT
DB_AUTO_MIGRATE=true

#S3 Storage
S3_ENDPOINT=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET_NAME=
S3_USE_SSL=true

#Notification
NOTIF_BASE_URL="http://localhost:3444"
NOTIF_SMTP_HOST="localhost"
NOTIF_SMTP_USERNAME=
NOTIF_SMTP_PASSWORD=
NOTIF_SMTP_PORT=1025
NOTIF_SMTP_FROM=no-reply@test.com
NOTIF_SMTP_FROM_NAME="Eticket"
